@import url("https://fonts.googleapis.com/css?family=Material+Icons|Roboto:100,300,400,400i,500,700,900|Roboto+Mono:100,300,400,400i,500,700,900|Titillium+Web:200,300,400,700,900");

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  overflow: auto;
}

body {
  font-family: Roboto, Helvetica, Arial, sans-serif, serif;
}

div {
  box-sizing: border-box;
}

svg {
  fill: currentColor;
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  background: hsla(0, 0%, 100%, 0.1);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar:vertical {
  display: none;
}

::-webkit-scrollbar-corner {
  display: none;
}

/* Phone input label styling */
.react-tel-input .special-label {
  left: 10px;
  color: rgba(0, 0, 0, 0.6);
}
